*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

.hero {
  position: relative;
  isolation: isolate;
  padding: 1rem;
}

.canvas-container {
  position: absolute;
  z-index: -1;
  inset: 0;
  height: 55vh;
  clip-path: polygon(0 0, 100% 0%, 100% 35%, 0% 100%);
}

.canvas {
  width: 100%;
  height: 100%;
}

.stripe-starts {
  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  max-width: fit-content;
}

.nav-button {
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  max-width: fit-content;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  max-width: fit-content;
}

.devs {
  background: rgba(10, 37, 64);
  clip-path: polygon(0 20%, 100% 6%, 100% 80%, 0 95%);
}

.devs-bg {
  background: rgba(10, 37, 64);
  clip-path: polygon(0 20%, 100% 6%, 100% 100%, 0 100%);
}

footer {
  clip-path: polygon(0 20%, 100% 6%, 100% 100%, 0 100%);
}

.globe-bg {
  background-image: url(/src/stripeImages/stripe-globe-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
